@{
    ViewBag.Title = "Dashboard";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
@{ var tweetList = (List<ScrapyWeb.Models.TweetSet>)ViewBag.TweetSets;
    var feedList = (List<ScrapyWeb.Models.FacebookGroupFeed>)ViewBag.FeedSets;
}
@*@Html.ActionLink("Fetch Data", "FetchData", "Home")*@
<ol class="round">
    <li class="one">
        <h5>Total Tweets in Data Set</h5>
        <p>
            So for total Tweets in database are :@tweetList.Count <b></b>
        </p>
    </li>
    <li class="two">
        <h5>Total Facebook Group Feed in Data Set</h5>
        <p>
            So for total Group Feed in database are :@feedList.Count <b></b>
        </p>
    </li>
</ol>
<h1>Twitter</h1>
<table class="users" style="height:450px; overflow:scroll">
    <thead>
        <tr>
            <th class="row-1 row-ID">Screen Name</th>
            <th class="row-2 row-ID">Tweet Date</th>
            <th class="row-3 row-Tweet">Tweet Text</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var tweet in tweetList)
        {
            <tr>
                <td>
                    @tweet.ScreenName
                </td>
                <td>@String.Format("{0:MM/dd/yyyy HH:mm:ss}", tweet.DateCreated)</td>
                <td>@tweet.TweetText</td>
            </tr>
        }

    </tbody>

</table>

<h1>Facebook</h1>
<table class="users" style="height:450px; overflow:scroll">
    <thead>
        <tr>
            <th class="row-1 row-ID">Group Post Id</th>
            <th class="row-2 row-ID">Updated Time</th>
            <th class="row-3 row-Tweet">Post Text</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var feed in feedList)
        {
            <tr>
                <td>
                    @feed.GroupPostId
                </td>
                <td>@String.Format("{0:MM/dd/yyyy HH:mm:ss}", feed.UpdatedTime)</td>
                <td>@feed.PostText</td>
            </tr>
        }

    </tbody>

</table>


