@{
    ViewBag.Title = "Dashboard";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
@{ var tweetList = (List<ScrapyWeb.Models.TweetSet>)ViewBag.TweetSets;
    var feedList = (List<ScrapyWeb.Models.FacebookGroupFeed>)ViewBag.FeedSets;
    var fbGroupsList = (List<ScrapyWeb.Models.FBGroup>)ViewBag.GroupSets;
}
<ol class="round">
    <li class="one">
        <h5><a href="#twitter">Total Tweets in Data Set</a></h5>
        <p>
            So for total Tweets in database are :@tweetList.Count <b></b>
        </p>
    </li>
    <li class="two">
        <h5><a href="#facebook">Total Facebook Group Feed in Data Set</a></h5>
        <p>
            So for total Group Feed in database are :@feedList.Count <b></b>
        </p>
    </li>
</ol>
<style>
    tr.header, tr.subheader {
        cursor: pointer;
    }

    tr.header th:nth-child(3) span {
        float: right;
    }

    tr.subheader th span {
        float: right;
    }
</style>
<h1 id="twitter">Twitter</h1>
<table class="users">
    <tr class="header">
        <th class="row-1 row-ID">Group Post Id</th>
        <th class="row-2 row-ID">Updated Time</th>
        <th class="row-3 row-Tweet">Post Text<span>-</span></th>
    </tr>
    @foreach (var tweet in tweetList.Take(20))
    {
        <tr>
            <td>@tweet.ScreenName</td>
            <td>@String.Format("{0:MM/dd/yyyy HH:mm:ss}", tweet.DateCreated)</td>
            <td>@tweet.TweetText</td>
        </tr>
    }
</table>
<h1 id="facebook">Facebook</h1>
<table class="users">
    <tr class="header">
        <th class="row-1 row-ID">Group Post Id</th>
        <th class="row-2 row-Time">Updated Time</th>
        <th class="row-3 row-Tweet">Post Text<span>-</span></th>
    </tr>
    @foreach (var grp in fbGroupsList)
    {
        // var groupFeedList = feedList.Where(x => x.GroupPostId.Substring(0, 15) == grp.FbGroupId);
        var groupFeedList = feedList.Where(x => x.GroupPostId.StartsWith(grp.FbGroupId));
        <tr class="subheader">
            <th class="row-full" colspan="3">@grp.GroupName (@grp.FbGroupId) [@groupFeedList.Count()]<span>-</span></th>
        </tr>
        foreach (var feed in groupFeedList)
        {
            <tr>
                <td>@feed.GroupPostId</td>
                <td>@String.Format("{0:MM/dd/yyyy HH:mm:ss}", feed.UpdatedTime)</td>
                <td>@feed.PostText</td>
            </tr>
        }
    }

</table>
<script>
    // on click on blue
    $('.header').click(function () {
        $(this).find('span').text(function (_, value) {
            return value == '-' ? '+' : '-'
        });

        $(this).nextUntil('tr.header').slideToggle(100, function () {
        });
    })

    // on click on orange
    $('.subheader').click(function () {
        $(this).find('span').text(function (_, value) {
            return value == '-' ? '+' : '-'
        });

        $(this).nextUntil('tr.subheader').slideToggle(100, function () {
        });
    })

    // at load, trigger click to toggle up
    $('.header').click();

</script>
