@{
    ViewBag.Title = "Dashboard";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
@*<h3>Dashboard</h3>*@
@{ var tweetList = (List<ScrapyWeb.Models.TweetSet>)ViewBag.TweetSets;
}
@Html.ActionLink("Fetch Data", "FetchData", "Home")
<ol class="round">
    <li class="one">
        <h5>Total Tweets in Data Set</h5>
       <p>
           So for total Tweets in database are :@tweetList.Count <b></b>
       </p>
    </li>
    <table class="users">
        <thead>
            <tr>
                <th class="row-1 row-ID">Screen Name</th>
                <th class="row-2 row-ID">Tweet Date</th>
                <th class="row-3 row-Tweet">Tweet Text</th>
               
            </tr>
        </thead>
        <tbody>
            
    
            @foreach (var tweet in tweetList )
            {
            <tr>
            <td>
                @tweet.ScreenName
            </td>
            <td>@String.Format("{0:MM/dd/yyyy HH:mm:ss}", tweet.DateCreated)</td>
            <td>@tweet.TweetText</td>           
            </tr>
            }

</tbody>

 </table>


    
</ol>
