@model List<ScrapyWeb.Models.FB_KEYWORD>
<table class="posts">
    <tr class="header">
        <th class="row-0 center">Keyword</th>
        <th class="row-1 center">In Posts</th>
        <th class="row-2 center">In Comments</th>
        <th class="row-3 center">Total Likes</th>
        <th class="row-4 center">Total Comments</th>
        <th class="row-5 center">Total Shares</th>
        <th class="row-6 center">Period</th>
        <th class="row-7 center">&nbsp;</th>
    </tr>
    @{List<ScrapyWeb.Models.FB_KEYWORD>fbKeywords = (List<ScrapyWeb.Models.FB_KEYWORD>)ViewData["fbKeywords"];}
    @foreach (var fbKeyword in /*fbKeywords*/Model)
    {
        // using (Html.BeginForm("FetchFBInfluencerPosts", "Data", FormMethod.Post, new { appId = @ViewBag.AppId }))
        {
            <tr>
                <td class="center">@fbKeyword.keyword</td>
                <td class="number">@fbKeyword.matched_posts_count</td>
                <td class="number">@fbKeyword.matched_comments_count</td>
                <td class="number">@fbKeyword.social_stats_likes</td>
                <td class="number">@fbKeyword.social_stats_comments</td>
                <td class="number">@fbKeyword.social_stats_shares</td>
                <td class="number">Last @(Convert.ToUInt32((fbKeyword.date_latest_retrieve - fbKeyword.date_oldest_retrieve).TotalDays)) Days</td>
                <td class="center"><button type="submit" class="btn btn-primary btn-xs">Refresh</button></td>
            </tr>
        }
    }
</table>